body {
    background-color: white;
    font-family: 'Segoe UI';
    transition: 0.5s;
}

    body.darktheme {
        background-color: rgb(30, 30, 30);
    }

h1 {
    text-align: center;
    font-size: 200%;
    color: #111;
}

body.darktheme h1 {
    color: rgb(200, 200, 200);
}

p {
    text-align: center;
    font-size: 100%;
    color: rgb(40,40,40);
}

body.darktheme p {
    color: rgb(225, 225, 225);
}

a {
    text-align: center;
    font-size: 100%;
    color: rgb(0, 82, 250);
}

body.darktheme a {
    color: rgb(0, 82, 250);
}

a:hover {
    color: rgb(77, 134, 252);
}

/*Top bar*/
.topBar {
    color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    /*
    align-content: center;
    vertical-align: auto;*/
    background-color: rgb(218, 218, 218);
    transition: 0.5s;
}

body.darktheme .topBar {
    background-color: rgb(46, 46, 46);
    color: white;
}
/*Side bar*/
.sideBar {
    background-color: rgb(200, 200, 200);
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 0;
    transition: ease 0.5s;
}

body.darktheme .sideBar {
    background-color: #111;
}

.sideBar h1 {
    text-align: left;
    font-size: 150%;
    color: rgb(33, 33, 33)
}

body.darktheme .sideBar h1 {
    color: rgb(225, 225, 225)
}

.sideBar p {
    color: rgb(153, 65, 205);
    text-align: left;
    font-size: 100%;
}

body.darktheme .sideBar p {
    color: rgb(138, 226, 138);
}

.sideBar a {
    text-align: left;
    font-size: 100%;
    color: rgb(139, 23, 207);
    display: block;
    text-decoration: none;
}

body.darktheme .sideBar a {
    color: rgb(103, 167, 103);
}

.sideBar a:hover {
    color: rgb(160, 82, 206);
}

body.darktheme .sideBar a:hover {
    color: rgb(129, 208, 129);
}

.topBar .naveOpenButton {
    background-color: rgb(0,0,0,0);
}

body.darktheme .topBar .naveOpenButton {
    color: rgb(221, 12, 12);
}

.sideBar .closenavButton {
    color: rgb(167, 41, 41);
    display: block;
    text-decoration: none;
    text-align: right;
    padding-right:  "10px";
    font-size: 200%;
}

body.darktheme .closenavButton {
    color: rgb(167, 41, 41);
}

.sideBar .closenavButton:hover {
    color: rgb(221, 12, 12);
}

body.darktheme .closenavButton:hover {
    color: rgb(221, 12, 12);
}

.sideBar .sideBarList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
